# Version Control
.git
.gitignore

# Python / Environment
.venv/
__pycache__/
*.pyc
.env
.python-version
.pytest_cache/

# Local OS Files
.DS_Store

# Prune local data
data/
docker-compose.yml

# Documentation & Misc
README.md
LICENSE
