faker>=33.0.0
pandas>=2.2.0
google-cloud-bigquery>=3.25.0
google-cloud-aiplatform>=1.60.0
langchain>=0.2.0
langchain-core>=0.2.0
langchain-google-vertexai>=1.0.0
streamlit>=1.32.0
matplotlib>=3.8.0
seaborn>=0.13.0
db-dtypes>=1.3.0
python-dotenv>=1.0.0
fastapi>=0.110.0
uvicorn>=0.29.0
requests>=2.31.0
pandas-gbq>=0.26.1
python-pptx>=1.0.2
google-cloud-firestore>=2.15.0
google-cloud-storage>=2.16.0
google-auth>=2.23.0
